---
http_interactions:
- request:
    method: get
    uri: https://www.tinkoff.ru/api/v1/currency_rates/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Sun, 13 Sep 2015 19:05:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"resultCode":"OK","payload":{"lastUpdate":{"milliseconds":1442171110093},"rates":[{"category":"DepositClosingBenefit","fromCurrency":{"code":840,"name":"USD"},"toCurrency":{"code":643,"name":"RUB"},"buy":66.35},{"category":"DepositClosingBenefit","fromCurrency":{"code":978,"name":"EUR"},"toCurrency":{"code":643,"name":"RUB"},"buy":75.2},{"category":"DepositClosingBenefit","fromCurrency":{"code":826,"name":"GBP"},"toCurrency":{"code":643,"name":"RUB"},"buy":102.45},{"category":"DepositClosing","fromCurrency":{"code":840,"name":"USD"},"toCurrency":{"code":643,"name":"RUB"},"buy":66.35},{"category":"DepositClosing","fromCurrency":{"code":978,"name":"EUR"},"toCurrency":{"code":643,"name":"RUB"},"buy":75.2},{"category":"DepositClosing","fromCurrency":{"code":826,"name":"GBP"},"toCurrency":{"code":643,"name":"RUB"},"buy":102.45},{"category":"DepositPayments","fromCurrency":{"code":840,"name":"USD"},"toCurrency":{"code":643,"name":"RUB"},"buy":66.35,"sell":69.05},{"category":"DepositPayments","fromCurrency":{"code":840,"name":"USD"},"toCurrency":{"code":826,"name":"GBP"},"buy":0.6369426752,"sell":0.6622516556},{"category":"DepositPayments","fromCurrency":{"code":840,"name":"USD"},"toCurrency":{"code":978,"name":"EUR"},"buy":0.8620689655,"sell":0.9009009009},{"category":"DepositPayments","fromCurrency":{"code":978,"name":"EUR"},"toCurrency":{"code":643,"name":"RUB"},"buy":75.2,"sell":78.25},{"category":"DepositPayments","fromCurrency":{"code":978,"[...]
