#alertWin.modal.hide.fade{ tabindex: -1, role: :dialog, 'ia-hidden': true}
  .modal-header
    .button.close{ type: :button, 'data-dismiss': :modal, 'aria-hidden': true } ×
    %h3 Создание Оповещения
  .modal-body
    .form-inline
      %select.input-small#currencySelect
        %option{ value: :USD } USD
        %option{ value: :EUR } EUR
      %select.input-small#dealTypeSelect
        %option{ value: :buy } Продажа
        %option{ value: :sell } Покупка
      %select.input-small#signSelect
        %option{ value: :more } Больше
        %option{ value: :less } Меньше
      %input.input-small#valueInput.error{ type: :text, placeholder: 1.0, required: :required}
      %input.input-small#emailInput{ type: :email, placeholder: 'mail@example.com', required: :required}
  .modal-footer
    %button.btn{ 'data-dismiss': :modal, 'aria-hidden': true } Отмена
    %button#saveAlertBtn.btn.btn-primary Сохранить
.span12.text-center.action-buttons
  = link_to '/', class: "btn btn-large refresh-btn" do
    %i.icon-refresh
    Обновить
  %a.btn.btn-large.create-alert-btn{ href: '#' }
    %i.icon-volume-up
    Оповещение