.container.hero-unit
  .span12.text-center.action-buttons
    = link_to '/', class: "btn btn-large" do
      %i.icon-refresh
      Обновить
    %a.btn.btn-large{ href: '#' }
      %i.icon-volume-up
      Оповещение
  .span12.text-center
    %h2 
      USD/RUB
      %i.icon-arrow-up
    .row-fluid
      .span6
        %h3 Спред
        .row-fluid
          .span6
            %h4 Абсолютный
            %h3 1.1
          .span6
            %h4 Относительный
            %h3 1.1%
      .span6
        %h3 Ставка
        .row-fluid
          .span6
            %h4 Текущая
            %h3 1.1
          .span6
            %h4 Средняя за день
            %h3 1.1
  .span12.text-center
    %h2 
      EUR/RUB
      %i.icon-arrow-down
    .row-fluid
      .span6
        %h3 Спред
        .row-fluid
          .span6
            %h4 Абсолютный
            %h3 1.1
          .span6
            %h4 Относительный
            %h3 1.1%
      .span6
        %h3 Ставка
        .row-fluid
          .span6
            %h4 Текущая
            %h3 1.1
          .span6
            %h4 Средняя за день
            %h3 1.1